@charset "utf-8";
/* CSS Document */
body {
	color:#333;
	background-color:#e9e9e9;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
}

/* sebagai pembungkus halaman keseluruhan dan mengatur posisi ke center*/
#page {
	width:1129px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
	box-shadow: 0px 0px 9px #999;
}
/*akhir page*/
/*box season[login] dan tgl sistem*/
#box {
	width:200px;
	float:right;
}
#tgl{
	color:#FFF;
	padding:7px 9px;
	background-color:#09F;
	border:1px solid #09C;
	border-top-left-radius:14px;
	border-bottom-left-radius:14px;
	box-shadow:0px 2px 5px #999;
	margin-top:5px;
	margin-right:1px;
	float:right;
}

#akun{
	color:#FFF;
	padding:7px 9px;
	background-color:#F90;
	border:1px solid #F60;
	border-top-left-radius:14px;
	border-bottom-left-radius:14px;
	box-shadow:0px 2px 5px #999;
	margin-top:5px;
	margin-right:1px;
	float:right;
}
/*akhir box season[login] dan tgl sistem*/
/* Teks Menu Atas */

#menu-bg {
	background: #333;
	height: 40px;
}

#menu {
	width: 1090px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	background-color:#333;
	border-radius:7px;
	float: left;
	margin: 3px 5px 0 0;
	padding: 10px 13px 10px 13px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
}

#menu a:hover {
	background-color:#F60;
}

#menu .aktif a {
	background: none;
	margin: 0 3px 0 0;
	background: #111111;
	border-bottom: 3px solid #0CF;
	color: #FFFFFF;
}

.header {
	width:1129px;
	background-color:#FFF;
}

.halaman {

	idth:1129px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
}

.halaman .tengah{
	width:1114px;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #c0d3e2;
	background-color:#f0f5f9;
}

.batas_isi {
	width:1097px;
	margin-top:9px;
	margin-bottom:9px;
	margin-left:auto;
	margin-right:auto;
	background-color:#dee9f1;
	border:1px solid #c0d3e2;
}

.isi{
	padding:3px;
}

.BatasBawah{
	width:1129px;
	height:7px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
}